<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
<input type="hidden" value="" id="hiddenShareId">
	<input type="hidden" value="" id="hiddenSharePot">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div id="exampleToolbar" role="group">
						<button shiro:hasPermission="sys:role:add" type="button"
							class="btn btn-primary" onclick="add()">
							<i class="fa fa-plus" aria-hidden="true"></i>添加
						</button>
						<!-- <button shiro:hasPermission="sys:role:batchRemove" type="button"
							class="btn btn-danger" onclick="batchRemove()">
							<i class="fa fa-trash" aria-hidden="true"></i>删除
						</button> -->
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="sys:role:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="sys:role:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script >
	var prefix = "/user";
	$(function() {
		load();
	});

	function load() {
		$('#exampleTable')
				.bootstrapTable(
						{
							method : 'get', // 服务器数据的请求方式 get or post
							url : prefix + "/sharelist", // 服务器数据的加载地址
							striped : true, // 设置为true会有隔行变色效果
							dataType : "json", // 服务器返回的数据类型
							pagination : true, // 设置为true会在底部显示分页条
							// queryParamsType : "limit",
							// //设置为limit则会发送符合RESTFull格式的参数
							singleSelect : false, // 设置为true将禁止多选
							iconSize : 'outline',
							toolbar : '#exampleToolbar',
							// contentType : "application/x-www-form-urlencoded",
							// //发送到服务器的数据编码类型
							pageSize : 10, // 如果设置了分页，每页数据条数
							pageNumber : 1, // 如果设置了分布，首页页码
							search : true, // 是否显示搜索框
							showColumns : true, // 是否显示内容下拉框（选择显示的列）
							sidePagination : "client", // 设置在哪里进行分页，可选值为"client" 或者
							// "server"
							// queryParams : queryParams,
							// //请求服务器数据时，你可以通过重写参数的方式添加一些额外的参数，例如 toolbar 中的参数 如果
							// queryParamsType = 'limit' ,返回参数必须包含
							// limit, offset, search, sort, order 否则, 需要包含:
							// pageSize, pageNumber, searchText, sortName,
							// sortOrder.
							// 返回false将会终止请求
							columns : [
									{ // 列配置项
										// 数据类型，详细参数配置参见文档http://bootstrap-table.wenzhixin.net.cn/zh-cn/documentation/
										checkbox : true
									// 列表中显示复选框
									},
									{
										field : 'shareId', // 列字段名
										title : '车牌号' // 列标题
									},
									{
										field : 'sharePot',
										title : '车辆所在地'
									},
									{
										title : '操作',
										field : 'userId',
										align : 'center',
										formatter : function(value, row, index) {
											var e = '<a class="btn btn-primary btn-sm '+s_edit_h+'" href="#" mce_href="#" title="编辑" onclick="openIframe(\''
													+ row.shareId+';'+row.sharePot
													+ '\')"><i class="fa fa-edit"></i></a> ';
											var d = '<a class="btn btn-warning btn-sm '+s_remove_h+'" href="#" title="删除"  mce_href="#" onclick="remove(\''
													+ row.shareId
													+ '\')"><i class="fa fa-remove"></i></a> ';
											return e + d;
										}
									} ]
						});
	}
	function reLoad() {
		$('#exampleTable').bootstrapTable('refresh');
	}
	function add() {
		//iframe层
		layer.open({
			type : 2,
			title : '新增单车分享点',
			shadeClose : true,
			shade : 0.8,
			area : [ '500px', '230px' ],
			content : '/share/addShare', //iframe的url
			end : function() {
				//window.location.href = "/share";
				//map.clear;
				//markersFunction(1, 3000);
				$('#exampleTable').bootstrapTable('refresh');
			}
		});
	}
	function remove(id) {
		layer.confirm('确定要删除选中的记录？', {
			btn : [ '确定', '取消' ]
		}, function() {
			$.ajax({
				url : prefix + "/deleteShareById",
				type : "post",
				data : {
					'id' : id
				},
				success : function(r) {
					if (r.code === 0) {
						layer.msg("删除成功");
						//reLoad();
						$('#exampleTable').bootstrapTable('refresh');
					} else {
						layer.msg(r.msg); 
					}
				}
			});
		})

	}
	function edit(id) {
		layer.open({
			type : 2,
			title : '用户修改',
			maxmin : true,
			shadeClose : true, // 点击遮罩关闭层
			area : [ '500px', '352px' ],
			content : prefix + '/edit/' + id // iframe的url
		});
	}
	
	function openIframe(share) {
		var arr=share.split(";");
		var shareId=arr[0];
		var sharePot=arr[1];
		$("#hiddenShareId").attr("value", shareId);
		$("#hiddenSharePot").attr("value", sharePot);
		layer.open({
			type : 2,
			title : '单车详细信息',
			shadeClose : true,
			shade : false,
			maxmin : true, //开启最大化最小化按钮
			area : [ '500px', '260px' ],
			content : '/share/toDetailPage',
			end : function() {
				// window.location.href = "/share";
				/* markersFunction(1, 3000); */
				$('#exampleTable').bootstrapTable('refresh');
			}
		});
	}
	
	function batchRemove() {
		
		var rows = $('#exampleTable').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
		if (rows.length == 0) {
			layer.msg("请选择要删除的数据");
			return;
		}
		layer.confirm("确认要删除选中的'" + rows.length + "'条数据吗?", {
			btn : [ '确定', '取消' ]
		}, function() {
			var ids = new Array();
			$.each(rows, function(i, row) {
				ids[i] = row['userId'];
			});
			console.log(ids);
			$.ajax({
				type : 'POST',
				data : {
					"ids" : ids
				},
				url : prefix + '/batchRemove',
				success : function(r) {
					if (r.code == 0) {
						layer.msg(r.msg);
						reLoad();
					} else {
						layer.msg(r.msg);
					}
				}
			});
		}, function() {});
	}
	</script>
</body>

</html>